/* This file is for your main application css. */

.boggle-board {
  margin: auto;
}
.boggle-cell {
  font-family: Helvetica, sans-serif;
  width: 1.75rem;
  height: 1.75rem;
  text-align: center;
  padding: .75rem;
  border: 0.2rem solid #222;
}
